In [2]:
import mysql.connector
import os
from dotenv import load_dotenv
import json
load_dotenv("../config.env",verbose=True)

True

In [3]:
def connect_to_db():
    return mysql.connector.connect(
        host="localhost",
        user=os.environ["sql_user"],
        password=os.environ["sql_password"],
        database="mydb"
    )

In [7]:
def get_unit_cards():
    conn = connect_to_db()
    cursor = conn.cursor()
    cursor.execute("SELECT Unit.id AS unit_id, Unit.name AS unit_name, Unit.description AS unit_description, Faction.name AS faction_name FROM  Unit JOIN Faction ON Unit.faction_id = Faction.id;")
    units = cursor.fetchall()
    unit_card = []
    for unit in units:
        unit_card.append(create_unit_card(unit, cursor))

    cursor.close()
    return unit_card

def create_unit_card(unit, cursor):
    unit_id = unit[0]
    unit_name = unit[1]
    unit_description = unit[2]
    faction_name = unit[3]

    keywords = get_keywords(unit_id, cursor)
    abilities = get_abilities(unit_id, cursor)
    melee_weapons, ranged_weapons = get_weapons(unit_id, cursor)
    models = get_models(unit_id, cursor)
    cost = get_costs(unit_id, cursor)

    return {
        "unit_name": unit_name,
        "unit_id": unit_id,
        "unit_description": unit_description,
        "faction_name": faction_name,
        "keywords": keywords,
        "abilities": abilities,
        "melee_weapons": melee_weapons,
        "ranged_weapons": ranged_weapons,
        "models": models,
        "cost": cost
    }

def get_costs(unit_id, cursor):
    sql = f"SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '{unit_id}';"
    print(sql)
    cursor.execute(sql)
    _results = cursor.fetchall()
    costs = []

    for _result in _results:
        costs.append({"model_count": _result[0], "cost": _result[1]})

    return costs


def get_keywords(unit_id, cursor):
    sql = f"SELECT mk.text AS ModelKeyword FROM Unit u JOIN Model m ON u.id = m.unit_id JOIN Unit_has_ModelKeyword umk ON u.id = umk.Unit_id JOIN ModelKeyword mk ON umk.ModelKeyword_id = mk.id WHERE u.id = '{unit_id}';"

    cursor.execute(sql)
    keywords = cursor.fetchall()

    return keywords

def get_abilities(unit_id, cursor):

    cursor.execute(f"SELECT ma.id AS ability_id, ma.name AS ability_name, ma.description AS ability_description FROM Unit u JOIN  Unit_has_ModelAbility uha ON u.id = uha.Unit_id JOIN  ModelAbility ma ON uha.ModelAbility_id = ma.id WHERE u.id = '{unit_id}';")

    _results = cursor.fetchall()
    abilities = []

    for _result in _results:
        abilities.append({ _result[1]: _result[2]})

    return abilities

def get_weapons(unit_id, cursor):

    cursor.execute(f"SELECT    w.id AS weapon_id,    w.name AS weapon_name,    w.weapon_range,    w.strength,    w.armor_piercing,    w.damage,    w.hit_skill,    w.attack FROM   mydb.Weapon w JOIN mydb.Unit u ON w.unit_id = u.id WHERE u.id = '{unit_id}';")
    _results = cursor.fetchall()


    melee_weapons = []
    ranged_weapons = []
    for _result in _results:
        key_words = get_weapon_keywords(_result[0], cursor)
        if _result[2] == "Melee":
            melee_weapons.append({

                "weapon_name": _result[1],
                "strength": _result[3],
                "armor_piercing": _result[4],
                "damage": _result[5],
                "hit_skill": _result[6],
                "attack": _result[7],
                "keywords": key_words
            })
        else:
            ranged_weapons.append({

                "weapon_name": _result[1],
                "weapon_range": _result[2],
                "strength": _result[3],
                "armor_piercing": _result[4],
                "damage": _result[5],
                "ballistic_skill": _result[6],
                "attack": _result[7],
                "keywords": key_words
            })

    return melee_weapons, ranged_weapons

def get_weapon_keywords(weapon_id, cursor):

    cursor.execute(f"SELECT  wk.name AS weapon_keyword FROM Weapon w JOIN  WeaponHasKeyword whk ON w.id = whk.Weapon_id JOIN  WeaponKeyword wk ON whk.WeaponKeyword_id = wk.id WHERE w.id = '{weapon_id}';")
    keywords = cursor.fetchall()

    return keywords

def get_models(unit_id, cursor):

    cursor.execute(f"SELECT name, move, toughness, wounds, leadership, save, unit_id, oc FROM Model WHERE unit_id = '{unit_id}';")
    _results = cursor.fetchall()
    models = {}

    for _result in _results:
        model ={
            "move": _result[1],
            "toughness": _result[2],
            "wounds": _result[3],
            "leadership": _result[4],
            "save": _result[5],
            "oc": _result[7]
        }
        models[_result[0]] = model
    return models

In [8]:
result = get_unit_cards()

SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1224-8735-46d-1919';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1420-c80d-66fc-6a';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1529-793d-481b-82bf';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1d83-167-486c-bac4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1fbf-55d9-5ca8-4e9e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2311-9feb-9d0a-8154';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '240f-70a4-7ba7-a538';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2659-7a1b-3ce6-8e4b';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2713-f82d-5189-d5de';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '291f-2885-4512-f0cd';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2c3a-9752-2516-69ab';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2f21-23a3-48e0-5788';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '309a-28be-6cc6-a37c';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '32ff-aec4-9669-c8a2';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '3376-d337-6a33-4bca';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '3e8d-c6f3-493c-4a35';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '433-faed-ea62-c531';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '497a-263e-966a-5a15';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5374-9e93-8af2-819e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5452-c4a7-59fb-f05c';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '551b-900c-3681-8f11';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '554c-8b4f-1059-28a7';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5768-1f87-3a16-d901';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '57ec-47a8-a59a-6a46';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '592a-b255-6c58-19ec';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5aa4-107-d7ee-f0f3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5c1c-fa4a-3234-c711';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5c5f-b70b-f6ee-a81e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '5f15-8ad-1f3b-d6d1';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '635b-21f4-f801-453';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6863-bf42-238a-fd0b';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '68fb-4b6f-2bf8-7105';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '69f4-c990-93b4-20fc';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6a3a-7973-b509-532e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6f18-95b7-2662-8925';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '71e1-7d54-4856-4ce1';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '76c4-e2ba-e247-560e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '77f9-e8de-225f-9e68';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '79b3-2cd1-d7b4-d7b1';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7c93-baac-e65f-58bd';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7fcb-9262-474a-7cec';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '828d-840a-9a67-9074';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '82ac-7d93-df55-5504';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '833b-55bc-73be-8862';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '854b-f8e-28fa-8c24';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '8732-df2f-a542-805f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '8c34-52ba-cbd0-9ca4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '908a-fc2b-5a53-599f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '90c9-aaac-5ef8-f043';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9262-3993-1368-be5a';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9270-4b93-ca59-f3ed';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9940-a69b-682e-ccf4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9c94-b663-fd31-6001';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'a30b-b966-d264-e935';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'a5d3-e21b-bf13-a952';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ab89-7505-ff1e-4ed';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ad88-f706-318c-e70e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ada5-25ce-d5d5-4ccb';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ae1b-1a96-5b4c-cecc';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'af2e-2bff-9813-a5a3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b221-43a3-8bee-117c';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b2f5-8219-f875-917e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b369-a813-75ac-2dc6';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b5a9-c802-10f0-6768';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b98a-4fbb-a3d8-1ada';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b98b-701f-9c0c-5437';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b9e9-397e-d83a-f77a';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'bb4f-4359-cc16-e6d5';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'bfd-df5a-b358-4cf9';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'c1ff-dc11-9853-e3e3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'c90f-a8e5-6afa-eb91';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'c9ed-d190-419c-78d3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ca40-4a0d-567-852';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'cbb7-6669-a014-36fe';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'cc68-ad19-7285-7a11';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd20b-783-ccf6-b29d';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd5e3-30bd-71e8-314b';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd61-c058-6bd1-112f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd729-7e1f-93a9-b1c5';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'dac1-6a7f-a06a-82cf';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'dada-b81b-37bd-1f3b';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'dd79-c2fe-59d6-d2';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'df57-7a59-75eb-ce63';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'dfe4-d4db-9d04-9e7a';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e011-d99d-f0de-5289';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e2ad-60b4-9678-88aa';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e3c5-54ef-44a5-9366';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e53b-7d09-eb7c-c6c7';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e6c2-f3b2-6d3e-c3d3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e78a-4442-4ed2-66bf';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ecfe-8994-b61e-f1c5';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'edca-1a1b-902d-421a';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ee2c-6ca0-5e29-37a6';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ef18-ff32-2be6-7372';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'f48e-276e-a997-c90e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'f88f-60c5-3daf-3d2f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'f99a-af49-64c0-9bed';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'fbc4-c7d0-db5b-91c';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '0119-8c04-435e-c782';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '106c-4bdf-79a4-1c70';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2d0e-5b83-b678-56dc';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '4175-82c6-8e96-bef8';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '61e0-e55b-1926-44df';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6e6d-7950-ce6d-4cd4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '753d-4e02-eda3-4809';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7a51-8f1f-7290-d9d2';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '87ea-c7bd-6df0-f056';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '8b1d-9029-f9e1-42d9';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '8df0-fc3c-8ced-ffce';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'a78d-828b-302b-1bec';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ae7c-3679-a88-6895';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b6e5-911b-93f-476';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'bbc6-c0ed-24e8-86b7';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e289-ad32-c78a-e055';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'e96b-ac98-7fd2-a155';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'ec6e-d1d6-f7c6-d008';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'fe77-6f85-5ddb-65bf';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1267-78f1-7774-859';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1780-25b8-ce0b-898d';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '1c45-9fd6-6303-a943';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '203d-c50f-a438-4982';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2311-fa63-364-22a3';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '23aa-b45a-6d5d-e92b';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '279e-62d4-bff1-141';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '287f-7d48-59cf-dc1e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '2a1d-2757-347c-58f2';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '3832-4208-11e9-ca22';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '3dfb-3b2a-94b-2fbe';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '3e98-7689-8bf0-96e0';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '440-a22a-eac1-b107';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '45b-19f6-38d2-703f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '46e1-2159-7c26-9105';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '4e85-615b-5d49-dfa4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '615-e6bf-cfd2-9384';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '683f-bfb2-f8d0-c39e';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6bf7-888c-7aa6-6831';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '6de7-36d5-6015-7a51';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7263-70e5-b424-61eb';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7373-47b7-11a3-2b48';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '76b4-a2c4-208e-ceb9';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '79e5-a673-cca5-91a4';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '7a72-5eae-45ca-7e8f';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '8dc5-4dcb-d77f-7d23';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9030-f62d-417-fc92';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '946c-d784-c8be-f21';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '980d-c80a-19b2-f641';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9bbd-a535-a4ef-9680';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9f33-ff4a-d948-4636';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = '9ff2-45e0-fe97-65f8';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'a3ab-ed12-fa70-2042';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'acb5-dbf2-e3a6-ad94';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b206-250d-84aa-fc42';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'b27f-1c85-5e7f-4e7d';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'cb1-5bcf-9e36-8136';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'cb66-af7-2cca-1c85';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'cd9c-96e7-6dcb-bedf';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd2b8-454a-d061-b592';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd37d-7e8f-341b-c67c';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd880-9968-2ed9-5a21';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd93f-6d73-1792-cb18';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'd9e3-8baf-128f-6389';
SELECT uc.model_count, uc.cost FROM UnitCost uc JOIN Unit u ON uc.unit_id = u.id WHERE uc.unit_id = 'da34-7071-8658-a453';

In [9]:
print(json.dumps(result[1], indent=4))

{
    "unit_name": "Scorpion",
    "unit_id": "1420-c80d-66fc-6a",
    "unit_description": "",
    "faction_name": "Aeldari - Aeldari Library",
    "keywords": [
        [
            "Faction: Aeldari"
        ],
        [
            "Titanic"
        ],
        [
            "Fly"
        ],
        [
            "Vehicle"
        ],
        [
            "Scorpion"
        ]
    ],
    "abilities": [
        {
            "Lanced Obliteration": "Each time an attack made with this\u00a0model\u2019s twin Scorpion pulsar destroys an enemy model that\u00a0has the Deadly Demise ability, that model\u2019s Deadly Demise\u00a0ability inflicts mortal wounds on a D6 roll of 4+ instead of on\u00a0a 6."
        },
        {
            "Damaged: 1-8 Wounds Remaining": "While this model has 1-8 wounds remaining, subtract 4 from\nits Objective Control characteristic and each time this model\nmakes an attack, subtract 1 from the Hit roll"
        },
        {
            "Invulnerable Save": "This unit has a 5+ Invulnerable save"
        }
    ],
    "melee_weapons": [
        {
            "weapon_name": "Wraithbone Hull",
            "strength": "6",
            "armor_piercing": "0",
            "damage": "1",
            "hit_skill": "4+",
            "attack": "6",
            "keywords": []
        }
    ],
    "ranged_weapons": [
        {
            "weapon_name": "Twin Scorpion Pulsar",
            "weapon_range": "60\"",
            "strength": "18",
            "armor_piercing": "-3",
            "damage": "5",
            "ballistic_skill": "3+",
            "attack": "6",
            "keywords": [
                [
                    "Twin-Linked"
                ]
            ]
        }
    ],
    "models": {
        "Scorpion": {
            "move": "14\"",
            "toughness": "11",
            "wounds": 24,
            "leadership": "6+",
            "save": "2+",
            "oc": 8
        }
    },
    "cost": [
        {
            "model_count": "default",
            "cost": "410"
        }
    ]
}